apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: poc-networking
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80

