apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: poc-networking
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432

