apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: poc-networking
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
type: Opaque
stringData:
  POSTGRES_DB: appdb
  POSTGRES_USER: appuser
  POSTGRES_PASSWORD: strongpassword

